.idea/
venv/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
/application/__pycache__/
/newSchoolWebsite/__pycache__/
*.py[cod]
*$py.class
application/migrations/__init__.py
application/migrations/
db.sqlite3
.scannerwork
.DS_Store
private