{% extends 'parent/base.html' %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/application/css/style3.css">
<html lang='en'>

<head>
	<meta charset='UTF-8'/>
	<title>AfterLoginParent Page </title>
</head>

<body>
 <h2 style="color: #1eaaf1; padding-left: 5%"> Welcome {{ user }} ! Your child {{ user.parent.studentID.Name }}. Class: {{ user.parent.studentID.classID.Name }} </h2>		<div id="TimeTable" style="padding-left: 5%">
			<p> Schedule for the current weeks </p>
			<table>
				<tr>
					<th></th>
					<th> Monday </th>
					<th> Tuesday </th>
					<th> Wednesday </th>
					<th> Thursday </th>
					<th> Friday </th>
					<th> Saturday </th>
				</tr>
				<tr>
					<th>8h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>9h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>10h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>11h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>12h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>13h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>14h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>15h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>16h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>17h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>18h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>19h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
				<tr>
					<th>20h00</th>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
					<td>bla bla</td>
				</tr>
			</table> <br>
		</div>
		<div style="padding-left: 5%">
			<h1 style="color: #1eaaf1"> First Year Courses</h1><br>
               <!-- {% for studentCourse in studentCourses %}
            <button href="#" class="btn btn-primary btn-lg"> {{ studentCourse.courseID.Name }}</button><br><br>
            {% endfor %}-->
        {% for studentcourse in allStudentCourses %}
                     <button href="#" class="btn btn-primary btn-lg"> {{  studentcourse.courseID.Name }} </button><br><br>
                {% endfor %}
		</div>
		<div style="padding-left: 85%">

			<button href="#" class="btn btn-primary btn-lg"> View More Courses </button>
		</div><br><br>
	</body>

	{% endblock %}
