{% extends 'parent/baseChooseChild.html' %}

{% block body %}

    <div class="container-fluid">
        <div class="row content">

            <div class="col-sm-3 sidenav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">New Announcement</a></li>
                    <li><a href="#">Old Announcements</a></li>
                </ul>
                <br>
            </div>

            <div class="col-sm-9">
                <h4><small>NEW ANNOUNCEMENT</small></h4>
                <hr>
                <h2>Dear Parents</h2>
                {% for announcement in allAnnouncements %}
                    <title>{{ announcement.announcementTitle }}</title>
                    <p>{{ announcement.announcementText }}</p>
                {% endfor %}
                <br><br>
            </div>

        </div>
    </div>

{% endblock %}