{% extends 'parent/base.html' %}

{% block body %}

    <div class="container-fluid">
        <div class="row content">

            <div class="col-sm-3 sidenav">
                <button class="btn btn-primary btn-lg" style="font-size: 20px;">Announcements
                </button>
                <br>
            </div>
            {% if allAnnouncements %}
                <div class="col-sm-9">
                    <ul class="nolist list-unstyled position-relative mb-0 px-lg-5 pt-lg-5">
                        <div id="box">
                            {% for announcement in allAnnouncements %}
                                <li class="border-bottom pb-3 mt-3">
                                    <h2 style="color: #1eaaf1">{{ announcement.announcementTitle }}</h2>
                                    <time class="small">{{ announcement.date }}</time>
                                    <p class="m-0 post_intro">{{ announcement.announcementText }}</p>
                                </li>
                                <br>
                            {% endfor %}
                        </div>

                    </ul>
                </div>
            {% else %}
                <ul>
                    <li>
                        No Announcements yet
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>

    <style media="screen">
        #box {
            height: 20em;
            padding: 1em;
            margin: auto;
            border: 0.062em solid #999;
            overflow: auto;
            direction: ltr;
            text-align: left;
        }
    </style>

{% endblock %}