{% extends 'parent/base.html' %}
{% block body %}
    <div>
        <table>
            <tr>
                <th></th>
                <th> Monday</th>
                <th> Tuesday</th>
                <th> Wednesday</th>
                <th> Thursday</th>
                <th> Friday</th>
                <th> Saturday</th>
            </tr>
            <tr>
                <th>8h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>9h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>10h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>11h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>12h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>13h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>14h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>15h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>16h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>17h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>18h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>19h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
            <tr>
                <th>20h00</th>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
                <td>bla bla</td>
            </tr>
        </table>
    </div>
    <div>
        <button> Book an appointement</button>
    </div>
{% endblock %}
