{% extends 'parent/attendanceBase.html' %}
{% block body %}
    <div style="padding-bottom: 5%; padding-top: 1%;padding-left: 1%">
    <table>
    <tr>
        <td>Date</td>
        <td>Presence</td>
        <td>Came Late</td>
        <td>Left Early</td>
    </tr>
    {% for a in attendances %}
        <tr>
            <th>{{ a.date }}</th>
            <td>{{ a.presence }}</td>
            <td>{{ a.cameLate }}</td>
            <td>{{ a.leftEarly }}</td>
        </tr>

    {% endfor %}
    </table>
    </div>
{% endblock %}
