{% extends 'parent/behaviorBase.html' %}
{% block behavior_active %} active {% endblock %}
{% load crispy_forms_tags %}

{% block body %}

    <div class="container-fluid">

        {% if  behavior %}
            <div class="col-sm-8">
                <button class="btn btn-primary btn-lg" style="font-size: 20px;">Behavior</button>
                <br><br>
                <table class="table-bordered">
                    <tr>
                        <th class="table-active" style="text-align: center">Date</th>
                        <th class="table-active" style="text-align: center">Behavior</th>
                    </tr>

                    {% for b in behavior %}
                        <tr>
                            <th style="text-align: center">{{ b.date }}</th>
                            {% if b.behavior %}
                                <th style="text-align: center"> {{ b.behavior }}</th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <ul>
                <li>
                    No behavior problem yet.
                </li>
            </ul>
        {% endif %}

    </div>

{% endblock %}
