{% extends 'parent/behaviorBase.html' %}
{% block behavior_active %} active {% endblock %}
{% load crispy_forms_tags %}

{% block body %}

    <div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">

        <table>
            {% if  behavior %}
                <tr>
                    <th style="text-align: center">Date</th>
                    <th style="text-align: center">Behavior</th>
                </tr>

                {% for b in behavior %}
                    <tr>
                        <td style="text-align: center">{{ b.date }}</td>
                        {% if b.behavior %}
                            <td style="text-align: center"> {{ b.behavior }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>

            {% else %}
                <ul>
                    <li>
                        No behavior notes.
                    </li>
                </ul>
            {% endif %}

    </div>
{% endblock %}
