{% extends 'parent/baseChangePassword.html' %}
{% block body %}
{% load crispy_forms_tags %}
     <br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class="text-success" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if error_message %}
        <p class="text-danger"><strong>{{ error_message }}</strong></p>
        <br>
    {% endif %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Submit</button>
    </form>
    <br>
</div>

{% endblock %}