{% extends 'parent/base.html' %}

{% block body %}
    <div style="padding-left: 5%">
        <table>
            <th></th>
            {% for grade in allGrades %}

                <th> Grade</th>
            {% endfor %}
            <tr>
                {% for studentcourse in studentCourse %}
                    <tr>
                        <th> {{ studentcourse.courseID.name }}</th>
                        {% for grade in allGrades %}
                            {% if grade.studentCourseID.courseID.name == studentcourse.courseID.name %}
                                <td> {{ grade.grade }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>


                {% endfor %}

        </table>
    </div><br><br>
{% endblock %}
