{% extends 'application/base.html' %}

{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/application/css/style2.css">
<html lang='en'>

    <table>
			<tr>
				<th></th>
				<th> Note 1 </th>
				<th> Note 2</th>
				<th> Note 3</th>
				<th> Note 4 </th>
				<th> Note 5 </th>
				<th> Final grade </th>
			</tr>
			<tr>
				<th>Music</th>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
			</tr>
			<tr>
				<th>Geography</th>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
			</tr>
			<tr>
				<th>Sport</th>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
			</tr>
			<tr>
				<th>English</th>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
			</tr>
			<tr>
				<th>Physics</th>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
			</tr>
			<tr>
				<th>Maths</th>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
				<td>bla bla</td>
			</tr>
    </table>
{% endblock %}
