{% extends 'administrativeOfficer/base.html' %}
{% block communication_active %} active {% endblock %}
{% block home_active %} passive {% endblock %}


{% block body %}

    <div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">
        <script type="text/javascript">
            function store() {
                var text = document.getElementById("my_text").value;
                document.cookie = "text=" + text + "" + "; path=/";
                myStorage = window.localStorage;
                localStorage.setItem('seen', 'no');
            }
        </script>

        <form action="#" onsubmit="store()" style="padding-left: 0.4%">
            <textarea id="my_text" rows="6" cols="50"></textarea>
            <br><br>
            <input id="submit-btn" type="submit" class="btn btn-primary btn-lg" style="font-size: 20px"/>
        </form>
    </div>>



{% endblock %}
