{% extends 'administrativeOfficer/base.html' %}
{% block communication_active %} active {% endblock %}
{% block home_active %} passive {% endblock %}
{% load crispy_forms_tags %}


{% block body %}

    <div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">
        <form action="{% url 'application:communicationAO' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}
