{% extends 'administrativeOfficer/base.html' %}
{% block enrollStudent_active %} active {% endblock %}
{% block home_active %} passive {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
    <br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class="text-success" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if error_message %}
        <p class="text-danger"><strong>{{ error_message }}</strong></p>
        <br>
    {% endif %}
    <form method="post" action="{% url 'application:signup' %}" style="padding-left: 2%">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info btn-lg">Add</button>
    </form>
    <br>
    <br>
    <br>
    <br>
{% endblock %}