{% extends 'administrativeOfficer/base.html' %}
{% block signupParent_active %} active {% endblock %}
{% block home_active %} passive {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
    <div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class="text-success" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if error_message %}
        <p class="text-danger"><strong>{{ error_message }}</strong></p>
        <br>
    {% endif %}
    <form method="post" action="{% url 'application:parentSignup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-lg">Add</button>
    </form>
    <br>
    <br>
    <br>
    </div>
{% endblock %}