{% extends 'teacher/gradeBase.html' %}
{% block behavior_active %} active {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">
        <form enctype="multipart/form-data" method="post" action="{% url 'application:absenceForm' course_id %}"
              style="padding-left: 2%">
            Date : {{ form.date }}<ul></ul>
            Student : {{ form.studentCourseID }}<ul></ul>
            Presence : {{ form.presence }}<ul></ul>
            Came Late : {{ form.cameLate }}<ul></ul>
           Left Early : {{ form.leftEarly }}
            {% csrf_token %}
            <ul></ul>
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" style="font-size: 20px"/>
        </form>
    </div>
{% endblock %}
