{% extends 'teacher/gradeBase.html' %}

{% load crispy_forms_tags %}

{% block body %}
    <div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">
        <ul>
            CourseID : {{ course_id }}
        </ul>
        <form action="" method="post">{% csrf_token %}
            {{ formset.management_form }}
            {{ form.as_p }}

            <table class="table">
                <tr>
                    <th> Date</th>
                    <th> Student</th>
                    <th> presence</th>
                    <th> Came late</th>
                    <th> Left Early</th>
                </tr>
                {% for form in formset.forms %}
                    <tr>
                        <th>{{ form.date }}</th>
                        <th>{{ form.studentCourseID }}</th>
                        <th>{{ form.presence }}</th>
                        <th>{{ form.cameLate }}</th>
                        <th>{{ form.leftEarly }}</th>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Save" style="font-size: 20px"/> <a
                    href="{% url 'application:absenceForm' course_id %}"></a>
        </form>
    </div>
{% endblock %}
