{% extends 'teacher/course.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">
     {% if jpg_response %}
        <ul class="alert alert-danger">
            {{ jpg_response }}
        </ul>
        {% endif %}
        <form enctype="multipart/form-data" method="post" action="{% url 'application:assignmentForm' course_id %}"
              style="padding-left: 2%">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" style="font-size: 20px"/>
        </form>
    </div>
{% endblock %}