{% extends 'teacher/gradeBase.html' %}
{% block behavior_active %} active {% endblock %}

{% load crispy_forms_tags %}

{% block body %}
    <div style="padding-left: 10%; padding-top: 1%;padding-bottom: 5%;width: 80%;">
        <form enctype="multipart/form-data" method="post" action="{% url 'application:behaviorForm' course_id %}"
              style="padding-left: 2%">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" style="font-size: 20px"/>
        </form>
    </div>
{% endblock %}
