{% extends 'teacher/base2.html' %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/application/css/style3.css">
<html lang='en'>

<div style="padding-left: 5%">
    <button href="#" class="btn btn-primary btn-lg"> First Communication </button><br><br>
    <button href="#" class="btn btn-primary btn-lg"> Second Communication </button><br><br>
    <button href="#" class="btn btn-primary btn-lg"> Third Communication </button><br><br>
    <button href="#" class="btn btn-primary btn-lg"> Forth Communication </button><br><br>
    <button href="#" class="btn btn-primary btn-lg"> Fifth Communication </button><br><br>
    <button href="#" class="btn btn-primary btn-lg"> Sixth Communication </button><br><br>
</div>
<br>
    <br>

{%endblock%}
