{% extends 'teacher/base2.html' %}
{% block coordinatedClass_active %} active {% endblock %}

{% block body %}
    <div style="padding-left: 2%; padding-top: 1%;padding-bottom: 5%;width: 90%;">

        {% if user.teacher.coordinatedClass %}
            <h1>Your Coordinated Class is {{ user.teacher.coordinatedClass }}</h1>
            <h1>List Of Students: </h1>
            <table>
                <thead>
                <tr>
                    <th style="text-align: center">Firstname</th>
                    <th style="text-align: center">Lastname</th>
                    <th style="text-align: center">Final Grades</th>
                </tr>
                </thead>
                <tbody>
                {% for stdCourse in studentCourse %}
                    <tr>
                        <td style="text-align: center">{{ stdCourse.studentID.first_name }}</td>
                        <td style="text-align: center">{{ stdCourse.studentID.last_name }}</td>
                        <td style="text-align: center">{{ stdCourse.course_id }}</td>
                        {% if stdCourse.finalGrade %}
                            <td style="text-align: center">{{ stdCourse.finalGrade }}</td>
                        {% else %}
                            <td style="text-align: center">
                                <a href="coordinatedClass/studentCourses/{{ stdCourse.studentID.ID }}"
                                   class="btn btn-primary btn-sm" style="font-size: 20px;"> ASSIGN </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <ul>
                <li>
                    <h2>You are not a class coordinator</h2>
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
