{%  extends 'teacher/base2.html'%}
{%  block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/application/css/style3.css">
<html lang='en'>
    <div>
        <ul>
            <li style="padding-top: 20px"> <button class="btn btn-primary btn-lg "> Add Topic </button> </li>
            <li style="padding-top: 20px"> <button class="btn btn-primary btn-lg " href="attendance.html"> Attendance </button> </li>
            <li style="padding-top: 20px"> <button class="btn btn-primary btn-lg " href="grade.html"> Grade </button> </li>
            <li style="padding-top: 20px; padding-bottom: 20%"> <input value="Add Material" type="file"/> </button> </li>
        </ul>
    </div>
{% endblock %}
