{% extends 'student/base.html' %}
{% block home_active %} active {% endblock %}
{% block body %}
    <h1 style="padding-left: 2%">Welcome {{ user.first_name }}<br></h1>
    <h2 style="padding-left: 2%">Class: {{ studentClass }} </h2>
<br>
    <div style="padding-left: 2%">
        <h2>Time Table</h2>
        {% if timeTable %}
            <table>
                <th>{{ header0 }}</th>
                <th>{{ header1 }}</th>
                <th>{{ header2 }}</th>
                <th>{{ header3 }}</th>
                <th>{{ header4 }}</th>
                <th>{{ header5 }}</th>
                <tr>
                    <td>{{ row00 }}</td>
                    <td>{{ row01 }}</td>
                    <td>{{ row02 }}</td>
                    <td>{{ row03 }}</td>
                    <td>{{ row04 }}</td>
                    <td>{{ row05 }}</td>
                </tr>
                <tr>
                    <td>{{ row10 }}</td>
                    <td>{{ row11 }}</td>
                    <td>{{ row12 }}</td>
                    <td>{{ row13 }}</td>
                    <td>{{ row14 }}</td>
                    <td>{{ row15 }}</td>
                </tr>
                <tr>
                    <td>{{ row20 }}</td>
                    <td>{{ row21 }}</td>
                    <td>{{ row22 }}</td>
                    <td>{{ row23 }}</td>
                    <td>{{ row24 }}</td>
                    <td>{{ row25 }}</td>
                </tr>
                <tr>
                    <td>{{ row30 }}</td>
                    <td>{{ row31 }}</td>
                    <td>{{ row32 }}</td>
                    <td>{{ row33 }}</td>
                    <td>{{ row34 }}</td>
                    <td>{{ row35 }}</td>
                </tr>
                <tr>
                    <td>{{ row40 }}</td>
                    <td>{{ row41 }}</td>
                    <td>{{ row42 }}</td>
                    <td>{{ row43 }}</td>
                    <td>{{ row44 }}</td>
                    <td>{{ row45 }}</td>
                </tr>
                <tr>
                    <td>{{ row50 }}</td>
                    <td>{{ row51 }}</td>
                    <td>{{ row52 }}</td>
                    <td>{{ row53 }}</td>
                    <td>{{ row54 }}</td>
                    <td>{{ row55 }}</td>
                </tr>
            </table>
        {% else %}
            <ul>
                <li>
                    Time table is not uploaded yet
                </li>
            </ul>
        {% endif %}
    </div>


{% endblock %}
