{% extends 'administrativeOfficer/base.html' %}

{% load crispy_forms_tags %}

{% block body %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class="text-success" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="messages">
        <li class="messages">
        {% if numberOfSeats %}
             Total number of seats remaining : {{ numberOfSeats }}
        {% endif %}
        </li>
        <li class="messages">
        {% if numberOfStudents %}
            Total number of Students : {{ numberOfStudents }}
        {% endif %}
        </li>
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info btn-lg" onclick="{% url 'application:classCompose' %}">Add Class</button>
    </form>



{% endblock %}